.main{
  display: flex;

  &_image {
    width: 505px;
    height: 330px;
    padding: 95px 47.5px 95px 230px;
  }


  &_content{
    padding: 135px 230px 135px 47.5px;
    color: $font-color;
    font-family: $font-family;

    &_title{
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
    }

    &_paragraph{
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      margin-top: 24px;
    }

    &_button{
      padding: 16px 40px;
      background: #E4C1AE;
      border-radius: 32px;
      border: none;
      color: #FFF;
      outline: none;
      margin-top: 50px;
      transition: transform .3s cubic-bezier(1, 0.21, 0.4, 1.26);

      &:hover{
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}